@keyframes buttonOnFlicker {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttonOnFlickerGrain {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0.05;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}

//292
@keyframes glitchInText {
  0% {
    opacity: 0;
    color: $blue;
    text-shadow: 0 0 0 $blue, 0 0 0 $pink;
  }

  28% {
    opacity: 0.5;
    color: $blue;
    text-shadow: 0.2rem 0.2rem 0 $blue, -0.2rem -0.2rem 0 $pink;
  }

  56% {
    opacity: 0;
    color: $pink;
    text-shadow: 0 0 0 $blue, 0 0 0 $pink;
  }

  70% {
    opacity: 0.5;
    color: $pink;
    text-shadow: 0.2rem 0.2rem 0 $blue, -0.2rem -0.2rem 0 $pink;
  }

  84% {
    opacity: 0;
    color: $textColor;
    text-shadow: 0.1rem 0.1rem 0 $blue, -0.1rem -0.1rem 0 $pink;
  }

  100% {
    opacity: 1;
    color: $textColor;
    text-shadow: 0 0 0 $blue, 0 0 0 $pink;
  }
}
