@font-face {
  font-family: "shumi";
  src: url("../assets/fonts/shumi.woff2") format("woff2"),
    url("../assets/fonts/shumi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source_sans_pro";
  src: url("../assets/fonts/sourcesanspro-regular.woff2") format("woff2"),
    url("../assets/fonts/sourcesanspro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
