@font-face {
  font-family: "rajdhani";
  src: url("../assets/fonts/rajdhani-regular.woff2") format("woff2"),
    url("../assets/fonts/rajdhani-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rajdhani";
  src: url("../assets/fonts/rajdhani-semibold.woff2") format("woff2"),
    url("../assets/fonts/rajdhani-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "press_start";
  src: url("../assets/fonts/pressstart2p-regular.woff2") format("woff2"),
    url("../assets/fonts/pressstart2p-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
