.home {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;

  & img {
    width: $pad * 25;
    height: auto;
  }

  & h2 {
    margin-top: $pad * 7;
  }

  & p {
    margin-top: $pad * 2;
    text-transform: uppercase;
    font-size: $pad * 3;
    text-align: center;
    letter-spacing: 0.1rem;
  }
}

@media only screen and (min-width: 600px) {
  .home {
    & img {
      width: $pad * 29;
      height: auto;
    }

    & p {
      font-size: $pad * 4;
    }
  }
}
