@import "vars.scss";
@import "fonts.scss";
@import "animation.scss";

::selection {
  background-color: rgba(255, 68, 180, 0.5);
  color: $textColor;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "rajdhani", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  overflow: hidden;
  color: $textColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: $fontBig;
  letter-spacing: 0.1rem;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.hide {
  display: none;
}

.gradiant {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: soft-light;
  opacity: 0.1;
  pointer-events: none;
  background: linear-gradient(150deg, $pink 0%, rgba(255, 255, 255, 0) 100%);
}

.solidButton {
  position: relative;
  font-size: 0;
  background: none;
  width: $pad * 6;
  height: $pad * 6;
  border: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/texture.gif);
    opacity: 0.1;
  }
}

.mainHeader {
  position: absolute;
  top: $pad * 3;
  right: $pad * 3;
  z-index: 1000;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bgColor;
    filter: blur(2rem);
  }
}

.mainTitle {
  & span {
    display: none;
  }
}

.mainNav {
  & ul {
    display: flex;
  }

  & li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: $textColor;
    margin: 0 $pad;
    padding: $pad $pad * 2;
    font-size: $pad * 2;
    border-width: $line;
    border-style: solid;
  }

  & li a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }

  & li a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/texture.gif);
    opacity: 0;
  }

  & li a:hover {
    color: #000;
  }

  & li a:hover::before {
    opacity: 1;
    animation: buttonOnFlicker 150ms;
  }

  & li a:hover::after {
    opacity: 0.1;
    animation: buttonOnFlickerGrain 150ms;
  }
}

.notSelectedNav {
  border-color: rgba(255, 255, 255, 0);
}

.selectedNav {
  border-color: $textColor;
}

.canvasHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.contentWrapper {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* HOME */
.homeArticle {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  & .homeAnimationHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  & img {
    display: block;
    order: -1;
    width: 40%;
    max-width: $pad * 20;
  }

  & h2 {
    margin-top: $pad * 3;
    font-size: $pad * 3;
    text-align: center;
  }

  & p {
    margin-top: $pad;
    font-size: $pad * 3;
    text-align: center;
  }
}

.homeOutlineHolder {
  position: absolute;
  width: 52rem;
  height: 52rem;
  transform: rotate(45deg);
}

.homeOutline {
  position: absolute;
  width: 100%;
  height: $line;
  background-color: #fff;

  transform-origin: center right;
  box-shadow: 0 0 2rem $blue;
}
.homeOutline1 {
  top: 0;
  left: 0;
  width: $line;
  height: 100%;
  transform-origin: center top;
}
.homeOutline2 {
  bottom: 0;
  left: 0;
  transform-origin: center left;
}
.homeOutline3 {
  top: 0;
  right: 0;
  width: $line;
  height: 100%;
  transform-origin: center bottom;
}

.blueBg {
  z-index: -1;
  background-color: $blue;
  opacity: 0.3;
}

/* WORK */
.workSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $pad * 134;
  margin: 0 auto;
  padding: 0 $pad * 3;
  width: 100vw;
  height: 100vh;
}

.workHolder {
  position: relative;
  margin-top: 4vh;
  width: 100%;
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workItem {
  height: 100%;

  & article {
    color: $textColor;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & .headerWrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    & header {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: $pad * 2;
      margin: $pad * 2;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -2;
        top: $pad * 4;
        left: 0;
        right: 0;
        bottom: 0;
        border: solid $line $bgColor;
      }

      & h3 {
        position: relative;
        font-size: $pad * 4;
        color: $bgColor;
        padding: $pad;
        text-align: center;

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $textColor;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mix-blend-mode: multiply;
          background-image: url(../assets/img/texture.gif);
          opacity: 0.1;
        }
      }

      & p {
        position: relative;
        font-size: $pad * 2;
        padding: $pad/2 $pad;
        margin-bottom: $pad;

        &::before {
          content: "";
          display: block;
          position: absolute;
          z-index: -2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(../assets/img/texture.gif);
          opacity: 0.1;
        }
      }
    }

    & .imgHolder {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      max-width: $pad * 100;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 $pad rgba($color: $bgColor, $alpha: 0.8);

      & img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.workItemBack {
  z-index: 1;

  & header {
    opacity: 0;
  }

  & .imgHolder {
    position: relative;
    background-color: rgba($color: $blue, $alpha: 0.1);
    border: solid $line rgba($color: $textColor, $alpha: 0.2);
  }

  & img {
    opacity: 0;
  }
}

.workItemBack1 {
  & article {
    transform: translateX(8%);
  }

  & .imgHolder {
    transform: scale(0.9);
  }
}

.workItemBack-1 {
  & article {
    transform: translateX(-8%);
  }

  & .imgHolder {
    transform: scale(0.9);
  }
}

.workItemBack2 {
  & article {
    transform: translateX(16%);
  }

  & .imgHolder {
    transform: scale(0.8);
  }
}

.workItemBack-2 {
  & article {
    transform: translateX(-16%);
  }

  & .imgHolder {
    transform: scale(0.8);
  }
}

.workNavButtons {
  z-index: -1;
  width: $pad * 6;
  height: 80%;
  box-shadow: 0 0 4rem rgba($color: $blue, $alpha: 0.3);

  &::before {
    opacity: 1;
  }
}
