$textColor: #fff;
$darkText: #262626;
$bgColor: #031829;
$pink: #ff44b4;
$blue: #60cae0;
$green: #60e0b4;

$pad: 0.8rem;
$lineMobile: 0.4rem;
$line: $lineMobile * 2;

$fontBig: "shumi", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

$glow: 0 0 2rem $blue;
