.workSection {
  position: relative;
  height: 100%;
  perspective: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.workHolder {
  position: relative;
  height: 50vh;
  width: $pad * 128;
  transform-style: preserve-3d;
  transform: translateZ(-25vh) rotateX(0);
}

.workItem {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background-color: red;

  & article {
    width: 100%;
    height: 100%;
  }

  & .imgHolder {
    width: 100%;
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //display: none;
    }
  }
}

.front {
  transform: rotateY(0deg) translateZ(25vh);
  background-color: green;
}

.bottom {
  transform: rotateX(-90deg) translateZ(25vh);
  background-color: pink;
}

.back {
  transform: rotateY(180deg) translateZ(25vh) rotateX(180deg);
  background-color: yellow;
}

.top {
  transform: rotateX(90deg) translateZ(25vh);
}

/*.workItem {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: $textColor;
  height: 70vh;
  display: none;

  & article {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    height: 100%;
    flex: 2;
    max-width: $pad * 128;
  }

  & .imgHolder {
    margin-top: $pad * 2;
    flex: 2;
    width: 100%;
    background-color: red;

    & img {
      display: none;
      object-fit: cover;
    }
  }

  .headerWrapper {
    & h3 {
      display: inline-block;
      padding-top: $pad * 2;
    }

    & h3::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: -100vh;
      bottom: 0;
      left: -$pad * 2;
      right: -$pad * 2;
      border-bottom: solid $lineMobile $textColor;
      border-left: solid $lineMobile $textColor;
      border-right: solid $lineMobile $textColor;
    }
  }
}

@media only screen and (min-width: 600px) {
  .workItem {
    left: 0;
    right: 0;
    height: 60vh;

    & .imgHolder {
      margin-top: $pad * 7;
    }

    .headerWrapper {
      & h3 {
        padding: $pad * 4 $pad * 7 $pad * 2;
      }

      & h3::after {
        border-width: $line;
      }
    }
  }
}
*/
